@import '_variables.scss';
@import '_nav.scss';
@import '_blockquotes.scss';
@import '_spinner.scss';
@import '_box.scss';

/* scale text on hover */
.move {
  transition: transform .2s ease-in-out;
  cursor: pointer;
}
.move:hover {
  transform: translate(0, -10px);
}

